/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: scroll; */
}

body {
    height: 100vh;
    background-image: url('./assets/Old\ Crumpled\ Paper\ Background.jpg'); /* Set the crumpled paper image */
    background-size: cover; /* Make sure the image covers the entire background */
    background-repeat: repeat; /* Prevent tiling */
    background-position: center; /* Center the background image */
    color: #443d32; /* White text for contrast */
    font-family: 'Handlee', sans-serif;
}

.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}  
.content{
    text-align: center;
    margin-top: 40px;
}
.table{
    display: flex;
    justify-content: center;
}
.navbar {
    /* background-color: #7e7265; */
    padding: 10px 0;
    text-align: center;
    font-family: "Eagle Lake", serif;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 0;
    padding-top: 30px;
}

.nav-list li {
    display: inline;
    background-color: #444;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    position: relative;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, border-bottom 0.3s;
}

.nav-list li:hover {
    background-color: #6a5c5c5e;
}

/* Active Link Styling */
.nav-list .active { /* Adds the underline effect */
    padding-bottom: 4px;
    font-weight: bold; /* Adds space between the text and the underline */
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    padding: 10px 0;
    border-radius: 8px;
    list-style: none;
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 20px;
    background-color: transparent;
}

.dropdown-menu a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

/* Remove hover effect for dropdown menu */
.dropdown-menu a:hover {
    background-color: transparent;
    border-radius: 0;
}

/* Diseases Table */
.diseases-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.diseases-table th, .diseases-table td {
    border: 2px solid #5f563a;
    padding: 20px;
    text-align: center;
    background-color: rgba(224, 206, 172, 0.8);
    font-family: "Eagle Lake", serif;
    font-size: 16px;
}

.diseases-table a {
    text-decoration: none;
    color: #443d32;
    font-weight: bold;
    transition: color 0.3s;
}

.diseases-table a:hover {
    color: #6a5c5c;
}
